* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
#app{
    background-color: #fafafa;
    min-height: 100vh;
}
.box-wrap{
    position: absolute;
    top: 4.7rem;
    bottom: 0px;
    padding: {
        bottom: 50px;
    };
    width: 100vw;
    left: 0;
    overflow: auto;
}
@mixin flex($x: center, $y: space-between) {
    display: flex;
    align-items: $x;
    justify-content: $y;
}
@mixin elp{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin elpnum($num:1){
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide-enter-active,.slide-leave-active{
    transition: all 0.3s;
}
.slide-enter-from, .slide-leave-to{
    transform: translateX(100%);
}


.sort-details{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}
.album-cover-box{
    overflow: hidden;
    position: relative;
}
.album-cover{
    padding: 64px 16px 20px;
    background: rgba(0,0,0,.5);
    @include flex(center, flex-start);
    z-index: 5;
    position: relative;
}
.album-poster{
    width: 125px;
    height: 125px;
    object-fit: cover;
}
.simple-info{
    margin-left: 10px;
    color: #fff;
    h4{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        margin: 10px 0;
    }
    img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
        border-radius: 50%;
        vertical-align: middle;
    }
    time{
        margin-top: 8px;
        font-size: 12px;
    }
    .singer-name{
        font-size: 14px;
    }
}
.album-box-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(36px);
    transform: scale(1.1);
}

.navbar{
    height: 50px;
    background-color: #fff;
    letter-spacing: 3px;
}
.mint-navbar {
    background-color: #fff;
    text-align: center;
    display: flex;
}
.mint-tab-item {
    display: block;
    padding: 7px 0;
    flex: 1;
    text-decoration: none;
    padding: 17px 0;
    font-size: 15px;
    border-bottom: 3px solid #fff;
    &.is-selected {
        border-bottom: 3px solid #31c27c;
        color: #31c27c;
        // margin-bottom: -3px;
    }
}
.mint-tab-item-icon:empty {
    display: none;
}
.mint-tab-item-icon {
    width: 24px;
    height: 24px;
    margin: 0 auto 5px;
}

.mint-tab-item-label {
    font-size: 14px;
    color: inherit;
    line-height: 1;
}
.album-intr{
    padding: 10px 30px 50px;
    font-size: 14px;
    color: #777;
    text-indent: 2em;
    line-height: 2;
}
.play-all{
    @include flex(center, flex-start);
    padding: 10px;
    font-size: 15px;
    /deep/ .van-icon{
        font-size: 25px;
        margin-right: 5px;
    }
}